boto3==1.11.12
django-bootstrap4>=2.2.0
django-enumfield>=2.0.2
django-storages==1.9.1
django-summernote>=0.8.11
Django>=3.0,<4.0
gunicorn>=20.0.0
Pillow>=8
psycopg2>=2.8
psycopg2-binary>=2.8
requests>=2.24
sentry-sdk>=0.19.1
timeago>=1.0.4