{% extends "base.html" %}
{% block title %}Diginerd - {{ object.name }}{% endblock %}
{% block content %}

<!-- Articles List Section -->
<section class="page-section" id="categories">
    <div class="container text-center">
        <h2 class="page-section-heading text-center text-secondary mb-4 d-inline-block">{{ object.name }}</h2>
        <!-- Article list -->
        <div class="container">
            <div class="list-group shadow-lg p-0 rounded">
                {% for article in articles %}
                <a href="{% url 'article' article.slug %}"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <img class="img-float img-responsive" src="https://placehold.it/128/163a63" alt="" />
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1">{{ article.title }}</h5>
                        <small>Posted by {{ article.author|default:"An Author" }}
                            {{ article.age|default:"An age ago" }}</small>
                    </div>
                    <p class="text-left mb-1">{{ article.summary|default:"A summary"}}</p>
                </a>
                {% empty %}
                <!-- No articles in category -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}