{% extends "comment_view.html" %}
{% block title %}Diginerd - The Network{% endblock %}
{% block content %}

<section class="page-section" id="categories">
    <div class="container">
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-4 d-inline-block">Network Categories</h2>
            <!-- Categories list -->
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for serie in object_list %}
                <div class="col mb-4">
                    <div class="card">
                        <img {% if serie.series.hero_img %} src="{{ MEDIA_PREFIX }}{{ serie.series.hero_img }}" {% else %}
                            src="https://placehold.it/320/163a63" {% endif %} class="card-img img-responsive" />
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end text-center">
                            <h3 class="text-white">{{ serie.series.name }}</h3>
                        </div>
                        <a href="{% url 'articles_by_article_category' serie.series.pk %}" class="stretched-link"></a>
                    </div>
                </div>

                {% empty %}

                <div class="col mb-4">
                    <div class="card">
                        <img src="https://placehold.it/320/163a63" class="card-img img-responsive" />
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end text-center">
                            <h3 class="text-white">Placeholder</h3>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <img src="https://placehold.it/320/163a63" class="card-img img-responsive" />
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end text-center">
                            <h3 class="text-white">Placeholder</h3>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <img src="https://placehold.it/320/163a63" class="card-img img-responsive" />
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end text-center">
                            <h3 class="text-white">Placeholder</h3>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <img src="https://placehold.it/320/163a63" class="card-img img-responsive" />
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end text-center">
                            <h3 class="text-white">Placeholder</h3>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}