{% extends "base.html" %}

{% block title %}Diginerd - {{ object.title }}{% endblock %}

{% block content %}

<header class="masthead bg-primary text-white text-center">
</header>

<section class="page-section">
    <div class="container">
        <div class="text-center">
            <div class="row mx-auto">
                <div class="col col-12">
                    <div class="card article shadow-lg">
                        <img {% if object.hero_img %} src="{{ MEDIA_PREFIX }}{{ object.hero_img }}" {% else %}
                            src="https://placehold.it/1140x768/163a63" {% endif %} class="card-img img-responsive hero-img" />
                        <div class="card-img-overlay">
                            <div class="article-title bg-primary">
                                <h1 class="article-title-heading text-white text-right px-2 pb-1">
                                    {{ object.title }}
                                </h1>
                                <h3 class="article-title-subheading text-white text-right px-2">
                                    Logline for the article
                                </h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-justify">{{ object.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-primary">
    <div class="container">
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Comments</h2>
        </div>
    </div>
</section>

<!--

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading mb-0">{{ object.title }}</h1>
    </div>
</header>

<section class="page-section" id="latest">
    <div class="container">
        <div class="row">
            <div class="col col-xl-12">
                <img {% if object.hero_img %} src="{{ MEDIA_PREFIX }}{{ object.hero_img }}" {% else %}
                    src="https://placehold.it/1140x768/163a63" {% endif %} class="img-responsive" />
            </div>
            <div class="col col-xl-12">
                {{ object.content }}
            </div>
        </div>
    </div>
</section>

-->
{% endblock %}