{% extends "base.html" %}
{% block title %}Diginerd - Index{% endblock %}
{% block content %}

<!-- Welcome Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Welcome to the Network</h1>
        <!-- Masthead Subheading-->
        <div class="pre-wrap masthead-subheading font-weight-light mb-0">
            It's time to digivolve your game
        </div>
    </div>
</header>

<!-- Latest Section -->
<section class="page-section" id="latest">
    <div class="container">
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Around the Network</h2>
            <!-- Latest 3 Cards-->
            <div class="row mt-3 mx-auto">
                <div class="col col-lg-8 col-md-12">
                    <div class="card img-hover-zoom">
                        <img {% if big_article.hero_img %} src="{{ MEDIA_PREFIX }}{{ big_article.hero_img }}" {% else %}
                            src="https://placehold.it/768/163a63" {% endif %} class="card-img img-responsive" />
                        <div class="card-img-overlay">
                            <div class="row">
                                <div class="col-3 text-left">
                                    <span class="badge badge-pill badge-news mx-1">
                                        {{ big_article.series.name|default:"A Category" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ big_article.title|default:"A Title" }}</h5>
                            <div class="card-text text-justify">
                                {{ big_article.summary|default:"A summary..." }}
                            </div>
                        </div>
                        <div class="card-footer bg-primary text-white">
                            <div class="row">
                                <div class="col text-left">
                                    <small>{{ big_article.author|default:"An Author" }}</small>
                                </div>
                                <div class="col text-right">
                                    <small>{{ big_article.age|default:"An age ago" }}</small>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'article' big_article.slug %}" class="stretched-link"></a>
                    </div>
                </div>
                <hr class="clearfix w-100 d-lg-none">
                <div class="col col-lg-4 col-md-12">
                    <div class="row mx-auto h-100 align-items-center">
                        {% for article in small_articles %}
                        <div class="col col-lg-12 col-md-6 col-sm-6 col-xs-12">
                            <div class="card img-hover-zoom">
                                <img {% if article.hero_img %} src="{{ MEDIA_PREFIX }}{{ article.hero_img }}" {% else %}
                                    src="https://placehold.it/320/163a63" {% endif %} class="card-img img-responsive" />
                                <div class="card-img-overlay">
                                    <div class="row">
                                        <div class="col-3 text-left">
                                            <span
                                                class="badge badge-pill badge-news mx-1">{{ article.series.name|default:"A Category" }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <span class="card-text">{{ article.title|default:"A Title" }}</span>
                                </div>
                                <div class="card-footer bg-primary text-white">
                                    <div class="row">
                                        <div class="col text-left">
                                            <small>{{ article.author|default:"An Author" }}</small>
                                        </div>
                                        <div class="col text-right">
                                            <small>{{ article.age|default:"An age ago" }}</small>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'article' article.slug %}" class="stretched-link"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cards Section -->
<section class="page-section bg-primary text-white mb-0" id="cards">
    <div class="container">
        <div class="row mt-3 mx-auto align-items-center">
            <!-- Card of the Day -->
            <div class="col col-lg-3 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12 text-center">
                <div class="card img-hover-zoom">
                    <div class="card-header bg-secondary">Card of the Day</div>
                    <img src="{{ MEDIA_PREFIX}}{{ cotd.art.all.first.card_art }}" class="card-img-bottom img-responsive"
                        alt="Card of the Day: Digimon" />
                    <a href="{% url 'card_view' cotd.number %}" class="stretched-link"></a>
                </div>
            </div>
            <hr class="clearfix w-100 d-lg-none pb-3">
            <div class="col col-lg-9 col-md-12">
                <h3>Card Discussion</h3>

                <div class="container">
                    <div class="list-group shadow-lg p-0 rounded">
                        {% for discussion in discussions %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <img class="img-float img-responsive card-thumbnail"
                                src="{{ MEDIA_PREFIX}}{{ discussion.art.all.first.card_art }}" alt="" />
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-1">{{ discussion }}</h5>
                                <small>{{ discussion.age }}</small>
                            </div>
                            <div class="mb-1">
                                <blockquote class="blockquote">
                                    <p class="mb-0">{{ discussion.summary }}</p>
                                    <footer class="blockquote-footer">Posted by
                                        <cite title="Source Title">{{ discussion.comments.first.author }}</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </a>
                        {% empty %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <blockquote class="blockquote">
                                <p class="mb-0">No Discussion Yet...</p>
                                <footer class="blockquote-footer">Message from
                                    <cite title="Source Title">The Admin</cite>
                                </footer>
                            </blockquote>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}