<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if not breadcrumbs %}
            <li class="breadcrumb-item active" aria-current="page">
                Database
            </li>
        {% else %}
            <li class="breadcrumb-item">
                <a href="{% url 'cards' %}">Database</a>
            </li>
        {% endif %}

        {% if breadcrumbs.card %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ breadcrumbs.card.name }}
            </li>
        {% endif %}

        {% if breadcrumbs.search_result %}
            {% if breadcrumbs.search_result.card %}
                <li class="breadcrumb-item">
                    <a href="{% url breadcrumbs.search_result.view breadcrumbs.search_result.key %}">
                        {{ breadcrumbs.search_result.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ breadcrumbs.search_result.card.name }}
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ breadcrumbs.search_result.name }}
                </li>
            {% endif %}
        {% endif %}

        {% if breadcrumbs.sets %}
            {% if breadcrumbs.sets.set %}
                {% if breadcrumbs.sets.set.card %}
                    <li class="breadcrumb-item">
                        <a href="{% url breadcrumbs.sets.view %}">
                            {{ breadcrumbs.sets.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url breadcrumbs.sets.set.view breadcrumbs.sets.set.key %}">
                            {{ breadcrumbs.sets.set.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ breadcrumbs.sets.set.card.name }}
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url breadcrumbs.sets.view %}">
                            {{ breadcrumbs.sets.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ breadcrumbs.sets.set.name }}
                    </li>
                {% endif %}
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ breadcrumbs.sets.name }}
                </li>
            {% endif %}
        {% endif %}

        {% if breadcrumbs.set %}
            {% if breadcrumbs.set.card %}
                <li class="breadcrumb-item">
                    <a href="{% url breadcrumbs.set.view breadcrumbs.set.key %}">
                        {{ breadcrumbs.set.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ breadcrumbs.set.card.name }}
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ breadcrumbs.set.name }}
                </li>
            {% endif %}
        {% endif %}
    </ol>
</nav>