<header class="bg-primary text-white text-center">
    <div class="container d-flex justify-content-between p-3">
        <div class="form-group row justify-content-start mb-0">
            <form class="form-inline" role="form" method="post" action="{% url 'card_search' %}">
                {% csrf_token %}
                <div class="col-xs-8 mr-2">
                    <div class="ui-widget">
                        <input type="text" class="form-control mb-2 w-100" id="cardSearch" placeholder="Search Digimon"
                            name="term" required pattern=".{3,}" title="3 characters minimum">
                    </div>
                </div>
                <div class="col-xs-2 mr-2">
                    <button type="submit" class="btn btn-primary mb-2">
                        <i class="fas fa-search"></i>&nbsp;Search
                    </button>
                </div>
            </form>
            <div class="col-xs-2">
                <button type="button" class="btn btn-secondary mb-2" data-toggle="modal" data-target="#filterModal">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="filterForm">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title" id="filterModalTitle">Filters</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times text-secondary"></i></span>
                            </button>
                        </div>
                        <form role="form" method="post" action="{% url 'card_filter' %}">
                            {% csrf_token %}
                            <div class="modal-body bg-secondary py-1">
                                <div class="row mx-auto mb-3">
                                    <div class="col col-md-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5>Card Colors</h5>
                                            </div>
                                            {% for color in filters.colors %}
                                            <div class="col-4">
                                                <label class="btn btn-{{ color.tag }}">
                                                    <input onchange="toggleButton(this)" id="{{ color.tag }}"
                                                        type="checkbox" class="custom-control-input" autocomplete="off"
                                                        name="colors[{{ forloop.counter0 }}]">
                                                    {{ color.color }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="includeSource" name="includeSource">
                                                    <label class="custom-control-label"
                                                        for="includeSource">Multicolor</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="clearfix w-100 d-lg-none" />
                                    <div class="col col-md-12 col-lg-6">
                                        <div class="row text-left">
                                            <div class="col-12">
                                                <h5>Card Types</h5>
                                            </div>
                                            {% for type in filters.card_types %}
                                            <div class="col-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="{{ type.tag }}" name="ctype[{{ forloop.counter0 }}]">
                                                    <label class="custom-control-label"
                                                        for="{{ type.tag }}">{{ type.type }}</label>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <hr class="clearfix w-100" />
                                <div class="row mb-3">
                                    <div class="col col-md-6 col-lg-4">
                                        <label for="raritySelect">
                                            <h5>Rarities</h5>
                                        </label>
                                        <select multiple class="form-control" id="raritySelect" name="raritySelect">
                                            {% for rarity in filters.rarities %}
                                            <option value="{{ forloop.counter0 }}">{{ rarity.rarity }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col col-md-6 col-lg-4">
                                        <label for="keywordSelect">
                                            <h5>Keyword</h5>
                                        </label>
                                        <select multiple class="form-control" id="keywordSelect" name="keywordSelect">
                                            {% for keyword in filters.keywords %}
                                            <option value="{{ forloop.counter }}">{{ keyword.keyword }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <hr class="clearfix w-100 d-lg-none" />
                                    <div class="col col-md-12 col-lg-4">
                                        <h5>Play Cost</h5>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="playCostFrom">From</label>
                                                <input type="number" class="form-control" id="playCostFrom"
                                                    name="playCostFrom" placeholder="#" min="0" max="20">
                                            </div>
                                            <div class="col-6">
                                                <label for="playCostTo">To</label>
                                                <input type="number" class="form-control" id="playCostTo"
                                                    name="playCostTo" placeholder="#" min="0" max="20">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="clearfix w-100" />
                                <div class="row mb-3">
                                    <div class="col col-md-4">
                                        <label for="effectTypeSelect">
                                            <h5>Effect Type</h5>
                                        </label>
                                        <select multiple class="form-control" id="effectTypeSelect"
                                            name="effectTypeSelect">
                                            {% for type in filters.effect_types %}
                                            <option value="{{ forloop.counter0 }}">{{ type.type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col col-md-8 col-lg-4">
                                        <label for="effectScan">
                                            <h5>
                                                Effect Scan
                                            </h5>
                                        </label>
                                        <input type="text" class="form-control" id="effectScan" name="effectScan"
                                            placeholder="Search Effect Text">
                                    </div>
                                    <hr class="clearfix w-100 d-lg-none" />
                                    <div class="col col-md-12 col-lg-4">
                                        <h5>Digimon Power</h5>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="dpFrom">From</label>
                                                <input type="number" class="form-control" id="dpFrom" placeholder="#"
                                                    name="dpFrom" min="0" max="99000" step="1000">
                                            </div>
                                            <div class="col-6">
                                                <label for="dpTo">To</label>
                                                <input type="number" class="form-control" id="dpTo" placeholder="#"
                                                    name="dpTo" min="0" max="99000" step="1000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="clearfix w-100" />
                                <div class="row mb-3">
                                    <div class="col col-md-6 col-lg-3">
                                        <label for="levelSelect">
                                            <h5>Digimon Level</h5>
                                        </label>
                                        <select multiple class="form-control" id="levelSelect" name="levelSelect">
                                            {% for level in filters.levels %}
                                            <option value="{{ forloop.counter0 }}">{{ level }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col col-md-6 col-lg-3">
                                        <label for="stageSelect">
                                            <h5>Digimon Stage</h5>
                                        </label>
                                        <select multiple class="form-control" id="stageSelect" name="stageSelect">
                                            {% for stage in filters.stages %}
                                            <option value="{{ forloop.counter0 }}">{{ stage.stage }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <hr class="clearfix w-100 d-lg-none" />
                                    <div class="col col-md-6 col-lg-3">
                                        <label for="digimonTypeSelect">
                                            <h5>Digimon Type</h5>
                                        </label>
                                        <select multiple class="form-control" id="digimonTypeSelect" name="digimonTypeSelect">
                                            {% for type in filters.digimon_types %}
                                            <option value="{{ type }}">{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col col-md-6 col-lg-3">
                                        <label for="attributeSelect">
                                            <h5>Attribute</h5>
                                        </label>
                                        <select multiple class="form-control" id="attributeSelect" name="attributeSelect">
                                            {% for attribute in filters.attributes %}
                                            <option value="{{ attribute }}">{{ attribute }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer bg-secondary">
                                <button type="submit" class="btn btn-primary">Apply Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-3 my-auto"><a href="{% url 'sets' %}" class="text-secondary">Sets</a></div>
            <div class="col-xs-1 my-auto mx-1"><span class="text-secondary">&middot;</span></div>
            <div class="col-xs-3 my-auto"><a href="{% url 'random' %}" class="text-secondary">Random</a></div>
            <div class="col-xs-1 my-auto mx-1"><span class="text-secondary">&middot;</span></div>
            <div class="col-xs-3 my-auto"><a href="{% url 'api' %}" class="text-secondary">API</a></div>
        </div>
    </div>
</header>

<script>
    // Pretty buttons
    function toggleButton(cb) {
        cb.parentElement.className = cb.checked ? `btn btn-${cb.id} active` : `btn btn-${cb.id}`;
    };
</script>