<header class="bg-primary text-white text-center">
    <div class="container d-flex justify-content-between p-3">
        <form class="form-inline" role="form" method="post" action="{% url 'card_search' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-start">
                <div class="col-xs-8 mr-2">
                    <div class="ui-widget">
                        <input type="text" class="form-control mb-2 w-100" id="cardSearch" placeholder="Search Digimon"
                            name="term" required pattern=".{3,}" title="3 characters minimum">
                    </div>
                </div>
                <div class="col-xs-2 mr-2">
                    <button type="submit" class="btn btn-primary mb-2">
                        <i class="fas fa-search"></i>&nbsp;Search
                    </button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-secondary mb-2" data-toggle="modal"
                        data-target="#filterModal">
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                <div class="modal fade" id="filterModal" tabindex="-1" role="dialog"
                    aria-labelledby="filterModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Apply Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row text-center">
            <div class="col-xs-3 my-auto"><a href="{% url 'sets' %}" class="text-secondary">Sets</a></div>
            <div class="col-xs-1 my-auto mx-1"><span class="text-secondary">&middot;</span></div>
            <div class="col-xs-3 my-auto"><a href="{% url 'random' %}" class="text-secondary">Random</a></div>
            <div class="col-xs-1 my-auto mx-1"><span class="text-secondary">&middot;</span></div>
            <div class="col-xs-3 my-auto"><a href="#!" class="text-secondary disabled">API</a></div>
        </div>
    </div>
</header>