{% extends 'card_index.html' %}

{% block list %}

<section class="page-section" id="sets">
    <div class="container">
        {% include 'breadcrumbs.html' %}
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-4 d-inline-block">Set List</h2>
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for set in object_list %}
                <div class="col mb-4">
                    <div class="card img-hover-zoom">
                        <img {% if set.set_art %} 
                                src="{{ MEDIA_PREFIX }}{{ set.set_art }}"
                            {% else %}
                                src="https://placehold.it/320/163a63" 
                            {% endif %} 
                            class="card-img img-responsive" />
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end text-center">
                            <h3 class="text-white">{{ set }}</h3>
                        </div>
                        <a href="{% url 'filtered_set' set.code %}" class="stretched-link"></a>
                    </div>
                </div>
                {% empty %}
                <div class="lead">No Sets Yet</div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}