{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block title %}Diginerd - Password Change{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          {% if validlink %}
          <h5 class="card-title text-center">Set A New Password</h5>
          <small>Please provide the following required information.</small>
          <hr class="my-2">

          {% for field, error in form.errors.items %}
          <div class="alert alert-danger" role="alert">
            {{ error | striptags }}
          </div>
          {% endfor %}

          <form role="form" class="form-register" method="post">
            {% csrf_token %}
            <div class="form-label-group py-2">
              <input class="form-control" id="{{ form.new_password1.id_for_label }}" maxlength="30"
                name="{{ form.new_password1.html_name }}" type="password" placeholder="Password" required />
            </div>

            <div class="form-label-group py-2">
              <input class="form-control" id="{{ form.new_password2.id_for_label }}" maxlength="30"
                name="{{ form.new_password2.html_name }}" type="password" placeholder="Confirm Password" required />
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
              value="Change my password">Save Password</button>
          </form>

          {% else %}
          <h5 class="card-title text-center"><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;Oops!</h5>
          <div class="text-center">The password reset link is invalid, possibly because it has already been used. Please
            request a new password reset.</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}