{% for comment in comments %}
<div class="card comment">
    <div class="card-header text-left d-flex">
        <img class="profile-picture" src="https://placehold.it/80x80/163a63" />
        <div class="author">
            <div>
                <strong class="h4">{{ comment.author }}</strong><br />
                <small>{{ comment.age|default:"An age ago" }}</small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text lead">
            {{ comment.text}}
        </p>
    </div>
</div>
{% endfor %}