{% for comment in comments %}
<div class="card comment" id="comment{{ comment.pk }}">
    <div class="card-header d-flex justify-content-between">
        <!--<img class="profile-picture" src="https://placehold.it/80x80/163a63" />-->
        <div class="author">
            <div>
                <strong class="h4">{{ comment.author }}</strong><br />
                <small>{{ comment.age|default:"An age ago" }}</small>
            </div>
        </div>
        {% if user.is_authenticated %}
        {% if comment.author == user %}
        <div class="edit">
            <button id="edit{{ comment.pk }}" class="btn btn-primary" type="button" data-comment="{{ comment.pk }}">
                Edit
            </button>
            <button id="save{{ comment.pk }}" class="btn btn-primary" disabled type="button" data-comment="{{ comment.pk }}"
                data-url="{{ redirect_url }}" data-slug="{{ object.slug }}">
                Save
            </button>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="scrollbar scrollbar-secondary">
        <div id="comment{{ comment.pk }}Text" class="card-body comment-text">
            {{ comment.text|safe }}
        </div>
    </div>
</div>
{% endfor %}