{% block head %}
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}

<section class="page-section bg-primary">
    <div class="container" id="commentSection">
        <div class="text-center w-90 mx-auto">
            <div class="d-flex justify-content-between comment-header">
                <h1 class="page-section-heading text-secondary mb-3 d-inline-block">
                    Comments [{{ comment_total|default:"-1" }}]
                </h1>
                <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseForm"
                    aria-expanded="false" aria-controls="collapseForm">
                    Add a Comment
                </button>
            </div>
            <hr class="w-100" />
            <div class="container w-90 mx-auto">
                <!-- Comment form -->
                <div class="collapse" id="collapseForm">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="h5 text-left text-white m-1">Posting reply as {{ user }}</div>
                            <textarea class="form-control" rows="5" id="summernote" name="editordata"></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary m-2">
                                    <i class="fas fa-reply"></i>&nbsp;Post
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Comments List -->
            <div id="comments"></div>
            <a type="button" class="btn btn-secondary" id="loadComments" href="javascript:void(0);"
                data-page="1">Load Comments</a>
        </div>
    </div>
</section>