<section class="page-section bg-primary">
    <div class="container" id="commentSection">
        <div class="text-center w-90 mx-auto">
            <div class="d-flex justify-content-between comment-header">
                <h1 class="page-section-heading text-secondary mb-3 d-inline-block">
                    Comments [{{ total|default:"0" }}]
                </h1>
                <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseForm"
                    aria-expanded="false" aria-controls="collapseForm">
                    Add a Comment
                </button>
            </div>
            <hr class="w-100" />
            <div class="container w-90 mx-auto">
                <!-- Comment form -->
                <div class="collapse" id="collapseForm">
                    {% if user.is_authenticated %}
                    {% include 'comment_input.html' %}
                    {% else %}
                    <div class="card comment">
                        <div class="card-body text-center">
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Login</a> to
                            comment
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Comments List -->
            <div id="comments">{% include 'comments.html' %}</div>
            {% if total > page_length %}
            <a type="button" class="btn btn-secondary" id="loadComments" href="javascript:void(0);"
                data-container="{{ object.pk }}" data-page="2" data-url="{{ redirect_url }}">
                Load Comments
            </a>
            {% endif %}
        </div>
    </div>
</section>